body {
    font-family: Arial, sans-serif;
    background-color: #cbd7e4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #cbd7e4;
    padding: 20px;
    border-top: 2px solid #000;
    width: 80%;
    color: black;
}

.section h3 {
    font-weight: bold;
    text-decoration: underline;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin: 5px 0;
}

.section ul li a {
    text-decoration: none;
    color: black;
}

.social-media {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.social-item img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.social-item span {
    margin-top: 5px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}






