/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9bb5d0;
    margin: 0;
    font-family: Arial, sans-serif;
} */

/* .btn-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
} */
.btn99 {
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn99.active {
    background-color: #007BFF;
    color: #fff;
}

.btn99:hover {
    background-color: #007BFF;
    color: #fff;
}

.map-container99 {
    position: relative;
    width: 100vw;
    min-height: 60vh;
    /* Tüm genişliği kapsar */
    max-width: 100%;
    /* Haritanın maksimum genişliği */
    aspect-ratio: 16 / 9;
    /* En-boy oranı koruma */
    background-image: url(images/map.png);
    /* Türkiye haritası resmi */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.map-city {
    position: absolute;
    text-align: center;
    color: #fff;
}

.map-city .weather-info99 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a29c9c;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Hafif şeffaf arka plan */
    margin-bottom: 5px;
}

.map-city .weather-info99 img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.map-city .weather-info99 span {
    font-size: 16px;
    font-weight: bold;
}

.map-city img.location {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

/* Şehirlerin haritadaki konumları */
.istanbul99 {
    top: 13%;
    left: 26%;
}

.samsun99 {
    top: 8%;
    left: 48%;
}

.konya99 {
    top: 41%;
    left: 40%;
}

.antalya99 {
    top: 59%;
    left: 32%;
}

.elazig99 {
    top: 41%;
    left: 58%;
}

.van99 {
    top: 37%;
    left: 72%;
}

.mardin99 {
    top: 55%;
    left: 65%;
}